<link rel="stylesheet" href="/css/tarea.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<form action="/tareas/tareas" method="POST">

    <body>
        <div class="login-container">
            <div class="tabs">
                <button class="tab" onclick="openTab('tareas')">Tareas</button>
                <button class="tab" onclick="openTab('notificaciones')">Notificaciones</button>
                <button class="tab" onclick="openTab('recordatorio')">Recordatorio</button>
                <button class="tab" onclick="openTab('calendario')">Calendario</button>
                <button class="tab" onclick="openTab('configuraciones')">Configuraciones</button>
            </div>
            <div id="tareas" class="tab-content">
                <!-- Contenido de la pesta単a Tareas -->
            </div>
            <div id="notificaciones" class="tab-content">
                <!-- Contenido de la pesta単a Notificaciones -->
            </div>
            <div id="recordatorio" class="tab-content">
                <!-- Contenido de la pesta単a Recordatorio -->
            </div>
            <div id="calendario" class="tab-content">

                <!-- contenido de la tabla -->

                <div class="tabla-tareas" style="align-items: center;
                 margin-top: 35px;">
                  <div class="container p-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                           <form>
                            <div class="form-group">
                             <label for="actividad">Nombre de la actividad:</label>
                             <input class="form-control" type="text" id="actividad" name="titulo" required>
                            </div>
                            <div class="form-group">
                             <label for="tiempo">Fecha de creacion:</label>
                             <input class="form-control" type="date" id="tiempo" name="fechaCreacion" required>
                            </div>
                            <div class="form-group">
                             <label for="descripcion">Fecha de vencimiento:</label>
                             <input class="form-control" type="date" id="date" name="fechaVencimiento" required>  
                            </div>
                            <div class="form-group">
                             <label for="tiempo">Descripcion:</label>
                             <textarea class="form-control" type="text" id="tiempo" name="description" rows="2" required> </textarea>
                            </div>
                            <div class="form-group">
                             <label for="tiempo">Estado:</label>
                             <input class="form-control" type="text" id="tiempo" name="estado" required>
                        </div>
                        <center><div id="botones-container" style="align-items: center;
                          margin-top: 25px;">
                        <input class="btn btn-danger" type="submit" value="Guardar" />
                        </div></center>
                        
                             </form>
                        </div>
                    </div>
                </div>
            </div>
             </div>
            </div> 
                
           
            <div id="configuraciones" class="tab-content">
                <!-- Contenido de la pesta単a Configuraciones -->
            </div>
        </div>


</form>