<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h2>Bienvenido, {{user.username}}!</h2>
  <a href="/src/views/auth/singup.hbs">Cerrar Sesión</a>
</body>
</html>
